*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9FAFB;
    height: 3rem;
}

button{
    background-color: #2563EB;
    color: #F9FAFB;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1.2rem;
    cursor: pointer;
}

.logo{
    margin-left: 1rem;
    color: #1F2937;
}

.logo h1{
    font-size: 1.6rem;
}

.menu{
    margin-right: 1rem;
}

.menu a{
    text-decoration: none;
    margin-right: 1rem;
    color: #4B5563;
}

.menu a:hover{
    color: #2563EB;
}

.badge{
    background-color: #2563EB;
    color: #F9FAFB;
    border-radius: 50%;
    padding: 0.3rem 0.3rem;
    font-size: 0.8rem;
}
